In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_csv("./data/gdpcsv.csv")
df.head()

,gdp,pctNation,state,region,industry
0,"205,625",1.11,Alabama,South,health care services
1,"50,404",0.27,Alaska,West,Oil and gas extraction
2,"305,849",1.65,Arizona,West,Ambulatory health care services
3,"121,383",0.66,Arkansas,South,Ambulatory health care services
4,"2,622,731",14.17,California,West,Computer and electronic manufacturing

In [4]:
df['industry'].value_counts()

Ambulatory health care services                          11
Oil and gas extraction                                    6
Hospitals, nursing, and residential care facilities       5
Insurance carriers                                        4
Monetary authorities                                      3
Accommodation                                             2
Mining (except oil and gas)                               2
Insurance carriers                                        2
Chemical manufacturing                                    2
Farming                                                   2
Broadcasting and telecommunications                       2
Insurance carriers                                        2
Computer and electronic product manufacturing             1
health care services                                      1
Broadcasting (except Internet) and telecommunications     1
Publishing industries                                     1
Insurance carriers and related activities                 1
Computer and electronic manufacturing                     1
Federal Governmnet                                        1
Petroleum and coal products                               1
Name: industry, dtype: int64

In [10]:
# df[df['industry'].includes('Insurance')]
df[df['industry'].str.contains("Insurance")]

,gdp,pctNation,state,region,industry
6,"259,918",1.40,Connecticut,Northeast,Insurance carriers
7,"71,453",0.39,Delaware,South,Insurance carriers
13,"796,012",4.30,Illinois,Midwest,Insurance carriers
15,"185,183",1.00,Iowa,Midwest,Insurance carriers
27,"117,446",0.63,Nebraska,Midwest,Insurance carriers
29,"77,208",0.42,New Hampshire,Northeast,Insurance carriers
35,"626,622",3.39,Ohio,Midwest,Insurance carriers
39,"57,529",0.31,Rhode Island,Northeast,Insurance carriers and related activities
49,"313,088",1.69,Wisconsin,Midwest,Insurance carriers